version: '3.7'
services:
  aniplanrr:
    container_name: aniplanrr
    image: ghcr.io/noggl/aniplanrr:main
    restart: unless-stopped
    environment:
      - SONARRURL=http://sonarr_url_and_port/api/   # Sonarr URL (ex: http://localhost:8989/api/)
      - SONARRAPIKEY=your_api_key                   # Sonarr API Key
      - SONARRANIMEPATH=/path/to/anime              # Sonarr Anime Path (ex: /tv/anime/)
      - RADARRURL=http://radarr_url_and_port/api/   # Radarr URL (ex: http://localhost:7878/api/)
      - RADARRAPIKEY=your_api_key                   # Radarr API Key
      - RADARRANIMEPATH=/path/to/anime              # Radarr Anime Path (ex: /movies/anime/)
      - ANILIST_USERNAME=yourname                   # AniList Username
      - MONITOR=all                                 # Monitor Type (all, future, missing, existing, firstSeason, latestSeason, pilot) ALL IS RECOMMENDED, OTHER FLAGS MAY BE BROKEN
      - RETRY=True                                  # If False, will write failed shows to ignore file to ignore next time. If True, will not ignore anything. If set to 'manual', will ignore entries in ignore, but not add more.
      - INTERVAL=3600                               # Interval in seconds to run the script on (this will run it every hour)
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - 'path_to_config_folder:/config'             # Config folder location, can use 'config:/config' if running from repository root
