Title used for sonarr path; anilist id; the_tv_db_id or the_movie_db_id;season for shows (1 for movies)
Jujutsu Kaisen;145064;377543;2
Demon Slayer: Kimetsu no Yaiba;145139;348545;4
One Punch Man;97668;293088;2
Perfect Blue;437;10494;1